* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background: #0f0f0f;
  color: white;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px 60px;
  position: sticky;
  top: 0;
  background: rgba(0,0,0,0.7);
  backdrop-filter: blur(10px);
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar li {
  margin-left: 20px;
}

.navbar a {
  color: #aaa;
  text-decoration: none;
}

.navbar a:hover {
  color: white;
}

/* HERO */
.hero {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 60px;
}

.hero h1 {
  font-size: 3rem;
}

.hero span {
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  -webkit-background-clip: text;
  color: transparent;
}

.hero p {
  margin: 20px 0;
  color: #aaa;
}

.cta {
  padding: 10px 20px;
  border: 1px solid #0072ff;
  color: #0072ff;
  text-decoration: none;
  border-radius: 5px;
}

.cta:hover {
  background: #0072ff;
  color: white;
}

/* SECTION */
.section {
  padding: 80px 60px;
}

/* PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  background: #1a1a1a;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  transition: 0.3s;
}

.card:hover {
  transform: translateY(-8px);
  border: 1px solid #0072ff;
}

.card p {
  color: #aaa;
  margin: 10px 0;
}

.card a {
  display: inline-block;
  margin-top: 10px;
  margin-right: 10px;
  padding: 6px 12px;
  border: 1px solid #0072ff;
  border-radius: 5px;
  color: #0072ff;
  text-decoration: none;
}

.card a:hover {
  background: #0072ff;
  color: white;
}

/* iframe preview */
iframe {
  width: 100%;
  height: 180px;
  border: none;
  border-radius: 8px;
  margin-top: 10px;
}

/* footer */
footer {
  text-align: center;
  padding: 20px;
  color: #777;
}
.skills-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.skills-container div {
  background: #1a1a1a;
  padding: 15px;
  border-radius: 8px;
  width: 220px;
}